body {
    display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: rgb(44, 12, 111);
}

h1 {
    font-size: 16rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.letter {
    transition: color 1000ms;
}
